@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&family=Tapestry&display=swap');

*{
	box-sizing: border-box;
}

body {
	font-family: "Roboto Condensed";
	margin: 0;
	padding: 0;
	background-color: rgb(34,36,35);
	color: white;
}

header {
	display: flex;
	background-color: #1f1f1f;
}

header div{
	flex-basis: 25%;
	padding-left: 25px;
	font-family: Tapestry;
}

nav {
	flex-basis: 75%;
	text-align: right;
	padding: 15px 50px;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
	color: yellow;
	font-weight: bold;
}

nav li{
	display: inline;
	list-style-type: none;
	padding: 5px;
}

#content {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	overflow: auto;
}

.mini {
	margin: 0 auto;
	width: 600px;
}

.card {
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
	background-color: #2b2b2b;
	flex-basis: 50%;
}

.card:hover{
	box-shadow: 0px 0px 10px 3px #545454;
}

.container {
	position: relative;
	width: 75%;
	margin: 0 auto;
}

.mySlide{
	display: none;
	width: 100%;
	margin: 0 auto;
}

.cursor {
	cursor: pointer;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 20px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 3px;
	user-select: none;
	-webkit-user-select: none;
}

.next{
	right: 0;
	border-radius: 3px;
}

.column{
	width: 25%;
}

.prev:hover,
.next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.numberText {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.row::after{
	display: table;
	content: "";
	clear: both;
}

.demo {
	opacity: 0.6;
}

.active,
.demo:hover{
	opacity: 1;
}

.profile{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 10px;
}

footer {
	text-align: center;
	background-color: #2b2b2b;
	padding: 20px;
}

#table-top{
	width: 75%;
	text-align: center;
	margin-bottom: 100px;
}

#table-top img{
	padding: 20px;
}

#table-bottom{
	width: 100%;
	text-align: center;
}

.profile{
	text-align: center;
}

main{
	display: flex;
	overflow: auto;
}

.content{
	width: 120%;
}

aside{
	background-color: #314f38;
	border: 2px solid black;
	width: 25%;
}
